.userCss {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-weight: 700;
    margin: 1rem 0;
  }

  input {
    display: block;
    margin-bottom: 0.25rem;
  }

  div {
    width: 100%;
  }
}

.avator {
  border-radius: 10px;
}

.card {
  border:  2px solid red;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  text-align: center;
}